/* Light mode defaults = Bootstrap */
body.dark-mode {
  background-color: #121212;
  color: #e5e5e5;
}

body.dark-mode .card {
  background-color: #1f1f1f;
  border-color: #333;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
  background-color: #222;
  color: #eee;
  border-color: #444;
}

body.dark-mode pre {
  background: #1d1d1d !important;
  color: #dcdcdc;
  border: 1px solid #333;
}

body.dark-mode .btn-primary {
  background-color: #0066ff;
}

body.dark-mode .btn-danger {
  background-color: #cc0000;
}
